[Unit]
Description=USB-IP [At/De]taching %i
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
Restart=on-failure
RestartSec=1
RemainAfterExit=yes

ExecStart=/bin/sh -c "/usr/lib/linux-tools/$(uname -r)/usbip attach -r $(echo %i | sed 's/:/ -b /1')"
# ExecStartPost=-canberra-gtk-play --file=/usr/share/sounds/freedesktop/stereo/device-added.oga

#Expected error of unbinding actually "already disconnected device"
ExecStop=-/bin/sh -c "/usr/lib/linux-tools/$(uname -r)/usbip detach --port `/usr/lib/linux-tools/$(uname -r)/usbip port | grep -B2 $(echo %i | awk -F':' '{print $2}') | grep 'Port' | cut -b 6-7`"
# ExecStopPost=-canberra-gtk-play --file=/usr/share/sounds/freedesktop/stereo/device-removed.oga

[Install]
WantedBy=multi-user.target
