[Unit]
Description=USB-IP Client Daemon
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
Restart=always
RemainAfterExit=yes

EnvironmentFile=/etc/usbip.conf

# vhci-hcd will load usbip-core by itself 
ExecStart=/sbin/modprobe vhci-hcd
# Is any USB port already available?

ExecStartPost=/bin/sh -c "/usr/lib/linux-tools/$(uname -r)/usbip list -r ${THERE} | grep '/' > /tmp/usbip-exportable-list"

#ExecStop=/bin/sh -c "/sbin/rmmod /lib/modules/$(uname -r)/kernel/drivers/usb/usbip/vhci-hcd.ko"
ExecStop=/sbin/rmmod vhci-hcd
ExecStopPost=/sbin/rmmod usbip-core

[Install]
WantedBy=multi-user.target
