[Unit]
Description=USB-IP Binding %i
After=network-online.target usbipd.service
Wants=network-online.target usbipd.service
PartOf=usbipd.service
StopWhenUnneeded=yes

[Service]
Type=simple
RemainAfterExit=yes

EnvironmentFile=/etc/usbip.conf

ExecStart=/bin/sh -c "/usr/lib/linux-tools/$(uname -r)/usbip bind -b %i"
ExecStartPost=-ssh root@${THERE} "/bin/systemctl start usbip@${HERE}:%i"
ExecStartPost=/usr/bin/aplay ${DEVADD}

#Expected errors of unbinding actually "already disconnected device"
ExecStop=-ssh root@${THERE} "/bin/systemctl stop usbip@${HERE}:%i"
ExecStop=-/bin/sh -c "/usr/lib/linux-tools/$(uname -r)/usbip unbind -b %i"

ExecStopPost=/usr/bin/aplay ${DEVREM}
#ExecStopPost=systemctl reset-failed

[Install]
WantedBy=multi-user.target
